.input {
   display: flex;
   align-items: center;
   flex-shrink: 1;
   padding: 10px 20px;
   border-radius: 19px;
   background-color: var(--secondary-contrast);
   border: 2px solid var(--secondary-main);
}

.input::placeholder {
   color: var(--secondary-contrast-text);
   transition: color 0.15s linear;
}

.input:focus::placeholder {
   color: rgba(0, 0, 0, 0);
}
