.wrap {
   position: relative;
   display: flex;
   flex-direction: column;
}

.wrap.opened button svg {
   transform: rotate(-180deg);
}

.wrap button {
   justify-content: space-between;
   width: 100%;
   text-transform: inherit;
   font: inherit;
}

.wrap button svg {
   width: 14px;
   height: auto;
   stroke: var(--secondary-main);
   transition: transform 0.15s linear;
}

.options {
   position: absolute;
   top: calc(100% + 4px);
   left: 0;
   display: flex;
   flex-direction: column;
   width: 100%;
   max-height: 200px;
   overflow-y: scroll;
   background-color: var(--primaryMain);
   border-radius: 12px;
   z-index: 50;
}

.options * {
   width: 100%;
   text-transform: inherit;
   font: inherit;
}

.options > * button{
   border-bottom: 0;
}

.options > *:not(:first-child) button {
   border-radius: 0;
}

.options > *:first-child button {
   border-radius: 12px 12px 0 0;
}

.options > *:last-child button {
   border-radius: 0 0 12px 12px;
   border-bottom: 2px solid var(--secondary-main);
}
