.app {
   display: grid;
   grid-template-rows: auto 1fr;
   grid-template-columns: 100%;
   height: 100vh;
   color: var(--text);
   background-color: var(--background);
}

.wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
}
