.content {
   display: flex;
   gap: 25px;
}

.column{
   display: flex;
   flex-direction: column;
   gap: 25px;
}

.column:first-child{
   flex-shrink: 1;
}

@media screen and (max-width: 1050px) {
   .filters{
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 15px;
      max-width: 400px;
      box-shadow: -2px 0px 4px 5px rgba(0, 0, 0, 0.15);
      background-color: var(--primary-contrast);
      overflow-y: auto;
      z-index: 400;
   }
}
