.content {
   display: flex;
   flex-direction: column;
   gap: 25px;
}

.intro {
   display: flex;
   align-items: center;
   gap: 15px;
   font-size: 20px;
   color: var(--primary-main);
}

.intro img{
   max-width: 372px;
}

.introDesc {
   display: flex;
   flex-direction: column;
   gap: 15px;
   width: 1096px;
   padding: 20px;
   border-radius: 25px;
   background-color: var(--primary-main);
   color: var(--primary-contrast);
}

.introDesc h1 {
   font-size: 25px;
   font-weight: 700;
}

.introDescText {
   font-size: 22px;
   font-weight: 500;
}

.introDescText a{
   color: var(--primary-contrast);
   text-decoration: underline;
}

.list{
   display: flex;
   gap: 20px;
}
