.content {
   display: flex;
   flex-direction: column;
   gap: 25px;
}

.list{
   display: flex;
   align-items: flex-start;
   gap: 25px;
}

.filters{
   max-width: 356px;
   width: 100%;
}

@media screen and (max-width: 1150px) {
   .filters {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 15px;
      max-width: 400px;
      box-shadow: -2px 0px 4px 5px rgba(0, 0, 0, 0.15);
      background-color: var(--primary-contrast);
      overflow-y: auto;
      z-index: 400;
   }
}
